// compileOnSave: false
//----------------
// header
//----------------
@import 'vars';
.header {
  position: fixed;
  top: 0;
  left: 0;
  height: $headerHeight;
  width: 100%;
  z-index: $headerZ;
  padding-top: $headerPaddingTop;
  .header__drawer {
    display: none;
  }
  .header__nav {
    position: absolute;
    right: 0;
    //background-color: $headerTitleBackground;
    ul {
      margin: 0;
      li {
        padding: 0;
        display: inline;
        padding-right: 24px;
        a {
          line-height: $headerHeight;
          color: $colorHeaderTitle;
          font-family: $fontHeaderMenu;
          font-size: $fontHeaderMenuSize;
          min-width: 48px;
          text-align: center;
          text-transform: uppercase;
          &:hover {
            color: $colorHeaderTitle--hover;
          }
        }
      }
    }
  }
}
