// compileOnSave: false
//----------------
// menu
//----------------
@import 'vars';
@import 'hamburger';

.header__nav {
    position: fixed;
    z-index: $z-index-drawer;
    background: $background-main;
    width: 100%;
    height: 2 * $header-height-mobile;
    bottom: -2 * $header-height-desktop; /*TODO change to mobile*/
    box-shadow: 0 5px 12px 9px rgba(0,0,0,0.0);
    -webkit-transition: box-shadow $menu-open-time $menu-open-function, bottom $menu-open-time $menu-open-function;
    transition: box-shadow $menu-open-time $menu-open-function, bottom $menu-open-time $menu-open-function;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    li {
        display: block;
        width: 100%;
    }

    a {
        height: inherit;
        display: block;
        width: 100%;
        text-align: center;
    }

    a:hover {
        height: inherit;
        background: $menu-a-background--hover;
        color: $menu-a-color--hover;
    }

    a::before {
        display: none;
    }
    @media screen and (min-width: $break-dektop) {
        height: 2 * $header-height-desktop;
        /* ul {*/
        /*     margin: 0;*/
        /*     padding: 0;*/
        /*     list-style: none;*/
        /* }*/
        /**/
        /* li {*/
        /*     display: inline-block;*/
        /* }*/
        /**/
        /* a {*/
        /*     display: block;*/
        /*     padding: 6px 2px;*/
        /* }*/
    }
}

.drawer-content-overlay {
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: $z-index-drawer-content-overlay;
    background: $menu-drawer-content-overlay-background;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity $menu-open-time $menu-open-function;
    transition: opacity $menu-open-time $menu-open-function;
}

#drawer-toggle:checked ~ .drawer-content-overlay {
    pointer-events: all;
    opacity: 1;
}

#drawer-toggle:checked ~ .header__nav {
    bottom: 0;
    box-shadow: 0 5px 12px 9px rgba(0,0,0,0.35);
}
