/* compileOnSave: false*/
/*----------------*/
/* typography*/
/*----------------*/
@import 'vars';
@mixin no-highlight {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
  cursor: default;
}
body,
html {
  font-family: $fontMain;
  color: $colorMain;
  font-size: $fontMainSize;
  font-weight: $fontMainWeight;
}
a {
  color: $colorA;
  text-decoration: $fontADecoration;
  transition: color $fontAAnimationTime ease-in;
  &:hover {
    color: $colorA--hover;
    text-decoration: $fontADecoration--hover;
  }
}
h1{
  font-family: $fontH;
  font-size: $fontH1Size;
  font-weight: $fontH1Weight;
}
h2{
  @extend h1;
  font-size: $fontH2Size;
  font-weight: $fontH2Weight;
}
.material-icons {
  color: $fontMain;
  font-family: 'Material Icons';
  font-size: $fontMainSize;
  //line-height: $fontMainSize;
}
