// compileOnSave: false
//----------------
// vars
//----------------

@import "vars/colors";
@import "vars/typography";

// header
$headerPaddingTop: 16px;
$headerHeight: 72px;
$headerZ: 10;
// header title
$headerTitlePaddingLeft: 24px;
$headerTitleBackground: rgba(#000, 0.5);
$headerTitleWidth: 64px;
$headerTitleWidth--hover: 160px;
$headerTitleLineLength: 40px;
$headerTitleLineHeight: 4px;
$headerTitleLineTop: calc(50% - 2px);
$headerTitleHiddenAnimationDelay: 0.03s;

// home
$homeZ: -2;
$homeHeight: calc(100vh + 98px);
$homeWidth: 100%;
$homeBackgroundImage: url(../assets/background.jpg);

$seperatorHeight: 98px;

// about
$aboutZ: -1;
$aboutHeight: 100vh;
$aboutWidth: 100%;
