// compileOnSave: false
//----------------
// vars
//----------------

$font-main: monospace;
$font-main-size: 1em;
$font-main-weight: 400;
$color-main: #636363;
$color-a: #c8c8c8;
$color-a--hover: #ffffff;
$background-main: #282828;
$hX-font: 'Playfair Display', serif;
$hX-weight: 700;
$h1-size: 2.5em;
$h2-size: 2em;
$header-height-desktop: 64px;
$header-height-mobile: 52px;
$break-dektop: 721px;
$break-mobile: 720px;
$anim-link-time: 0.3s;
