body {
    background: #E3D0D0;
    color: rgba(219,5,5,.8);
    font-family: Roboto;
    font-weight: 800;
    font-size: 74px;
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 100vh;
    overflow: hidden;
}
@media screen and (max-width: 768px) {
    body {
        font-size: 40px;
    }
}
.comingsoon {
    background: #161616;
    z-index: 2;
    /*opacity: 0;*/
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
}

img {
    position: absolute;
    top: calc(50vh - 145px);
    left: calc(50% - 88px);
    animation-name: rotating;
    animation-duration: 5s;
    animation-timing-function: steps(7);
    animation-iteration-count: infinite;
}

@keyframes rotating {
  0% {
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  30% {
     -moz-transform: rotate(0deg);
     -webkit-transform: rotate(0deg);
     transform: rotate(0deg);
  }
  50% {
     -moz-transform: rotate(180deg);
     -webkit-transform: rotate(180deg);
     transform: rotate(180deg);
  }
  80% {
     -moz-transform: rotate(180deg);
     -webkit-transform: rotate(180deg);
     transform: rotate(180deg);
  }
  100% {
     -moz-transform: rotate(360deg);
     -webkit-transform: rotate(360deg);
     transform: rotate(360deg);
  }
}
