// compileOnSave: true
//----------------
// style
//----------------
@import "vars";
@import "typography";
@import "header";
@import "home";
@import "about";

body,
html {
    margin: 0;
    background: $backgroundMain;
    height: auto;
    //overflow-x: hidden;
}
