html, body {
    background: #F6F6F6;
    font-family: Roboto;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Playfair Display', sans-serif;
    font-weight: 400;
    font-size: 2em;
}

.back-text {
    color: #000;
}

.cover {
    position: absolute;
    top: 0;
    left: 0;
    margin: 16px;
    height: calc(100vh - 2 * 16px);
    width: calc(100% - 2 * 16px);
    background: #fff;
    color: rgba(0,0,0,.52);
    overflow: none;
}

.cover > h1 {
    position: relative;
    margin-left: 40px;
    margin-top: 40px;
    font-size: 84px;
    overflow: hidden;
}

.cover > table {
    position: relative;
    margin-left: 40px;
    margin-top: 40px;
    width: 300px;
    overflow: hidden;
    font-family: 'PT Mono', monospace;
    font-size: 22px;
}

.cover > img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
}

.cover > .down {
    position: absolute;
    left: 0;
    bottom: 0;
    transform-origin: top left;
    transform: rotate(-90deg);
    margin-left: 10px;
    margin-bottom: 20px;
    line-height: 20px;
    font-family: 'PT Mono', monospace;
    font-size: 14px;
    height: 20px;
}

@media screen and (max-width: 768px) {

}
