// compileOnSave: false
//----------------
// colors
//----------------

$colorMain: #000;
$colorA: #69F0AE;
$colorA--hover: #55c28c;
$backgroundMain: #FFF;

// header colors
$colorHeaderTitle: #FFF;
$colorHeaderTitle--hover: #DADADA;
$backgroundHeader: #212121;
