// compileOnSave: false
//----------------
// typography
//----------------

$fontMain: 'Roboto', sans-serif;
$fontMainSize: 12px;
$fontMainWeight: 400;
// a
$fontADecoration: none;
$fontADecoration--hover: underline;
$fontAAnimationTime: 0.2s;
// h
$fontH: 'Playfair Display', serif;
$fontH1Size: 24px;
$fontH1Weight: 400;
$fontH2Size: 18px;
$fontH2Weight: 400;

// header
$fontHeaderTitle: 'Playfair Display', serif;
$fontHeaderTitleSize: 48px;
$fontHeaderMenu: monospace;
$fontHeaderMenuSize: 12px;

// home title
$fontHomeTitle: 'Playfair Display';
$fontHomeTitleSize: 144px;
$fontHomeTitlelineHeight: 100vh;
