// compileOnSave: false
//----------------
// hamburger
//----------------
@import 'vars';
@mixin no-highlight {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    tap-highlight-color: rgba(0, 0, 0, 0);
    user-select: none;
    cursor: pointer;
}

#drawer-toggle__label {
    position: absolute;
    display: block;
    z-index: $z-index-drawer-togge;
    top: calc(50% - 12px);
    margin-left: 12px;
    @include no-highlight;
}

#hamburger-toggle {
    display: block;

    line {
        fill: none;
        stroke: $hamburger-background;
        stroke-width: 1;
        transform-origin: right;
        transform: rotate(0deg);
        transition: stroke $anim-link-time, transform $anim-link-time;
    }

    &:hover {
        line {
            stroke: $hamburger-background--hover;
        }
    }
}

#drawer-toggle:checked ~ #drawer-toggle__label {
    #hamburger-toggle {
        line {
            stroke: $hamburger_background--hover;
        }

        .hamburger__line__1 {
            transform: rotate(-45deg);
        }

        .hamburger__line__3 {
            transform: rotate(45deg);
        }

        .hamburger__line__2 {
            //stroke: $color-transparent;
            transform: translate(24px);
        }
    }
}
